<%= render "new_post_modal", post: Post.new  %>

<div id="posts" style="margin-top: 10px">
  <% posts.each do |post| %>
    <%= render "your_posts/your_post/your_post", post: post %>
  <% end %>
</div>
<br>