<h2 class="text-center txt-title">Your Posts</h2>
<div class="search-user-div-items">
  <%= render "new_post_modal", post: Post.new  %>
</div>
<% if @posts.empty? %>
  <div class="search-user-div-items">
    <p class="txt-general">You have not created any posts yet </p> <p></p>
  </div>
<% else %>
  <div class="search-user-div-items">
    <div id="searched-posts" style="overflow: auto; max-height: 120vh; padding-right: 5px;">
      <%= render "your_posts/your_posts", posts: @posts %>
    </div>
  </div>
<% end %>
