<h2 class="txt-title">Your Posts</h2>
<% if @posts.empty? %>
  <p></p>
  <%= link_to "Add a post", new_post_path, class: "bttn-other-main" %> <p><p></p></p>
  <p class="txt-general">You have not created any posts yet </p> <p></p>
<% else %>
  <%= render "your_posts/your_posts", posts: @posts %>
  <%= render "posts/post/post_comment_jquery"%> 
  <%= render "posts/post/post_comment_reply_jquery" %> 
<% end %>
