<% if comment_reply.reply.present? %>
  <div class="card bg-transparent card-border">
    <div class="card-body">
      <strong class="card-title txt-general"><%= comment_reply.replier %></strong><br>
      <p class="txt-general"><%= comment_reply.reply %> <br>
    </div>
    <div class="card-footer txt-general card-border post-footer-bg">
      <%=  distance_of_time_in_words(Time.now, comment_reply.updated_at) %></p>
    </div>
  </div>
  <p></p>
<% end %>



