<h1>Post your thoughts</h1>
<p>We have developed this sites to share your thoughts with others. No matter what your thoughts are, you can share it here with us...</p>

<% if user_signed_in? %>
  <%= link_to "Go to Posts", posts_path, class: "btn btn-primary" %>
<% end %>