<% if !current_user.is_admin %>
  <h2 class="txt-title">Request for changing your role</h2> <br>
  <%= link_to "Request For Admin Role", change_role_requested_admin_role_path, data: { turbo_method: :post }, class: "bttn-other-main" %>
  <p></p>
<% else %>
  <h2 class="txt-title">Request for changing your role</h2> <br>
  <h5 class="txt-general">You are already an Admin!</h5>
<% end %>


