<h2 class="txt-title">Requests for Admin Role</h2>
<% if @users.empty? %>
  <p class="txt-general">Do not have any more requests right now! </p> <p></p>
<% else %>
  <br>
  <table class="table table-bordered table-hover ">
    <thead class="table-light" style="background-color: 6d3c3c">
      <tr>
        <th class="txt-general">Email</th>
        <th class="txt-gerneral">Approve</th>
        <th class="txt-gerneral">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="txt-gerneral"><p></p><%= user.email %></td>
          <td class="txt-gerneral"><p></p><%= link_to "Approve", change_role_change_is_admin_path(:_id => user.id), data: { turbo_method: :post }, class: "bttn-common bttn-danger-sm bttn" %><p></p></td>
          <td class="txt-gerneral"><p></p><%= link_to "Disapprove", change_role_disapprove_request_path(:_id => user.id), data: { turbo_method: :post }, class: "bttn-common bttn-danger-sm bttn-danger" %><p></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
