<div class="card-footer txt-general">
  <div class="row">
    <div id="<%= "#{dom_id(comment)}_comment_reply_button" %>" class="col center">
      <a data-action="visibility#toggleTargets" class="txt-general comment-reply-display-button" role="button" >
        <i class="fa-solid fa-message fa-xl"></i>
      </a>
    </div>
    <div id="<%= "#{dom_id(comment)}_comment_created_time" %>" class="col center">
      <%= comment.updated_at %></small></p>
    </div>
  </div>
</div>
