<div id="<%= "#{dom_id(post)}_footer" %>" class="card-footer card-border post-footer-bg">
  <p></p>
  <%= link_to "Approve", post, data: { turbo_method: :post }, class: "bttn-common bttn-danger-common bttn" %>
  &nbsp <%= link_to "Edit Category", handle_posts_edit_post_approve_path(id: post.id), class: "bttn-common bttn-danger-common bttn", style: "margin-left: 10px" %>
  <%= link_to "Delete",  handle_posts_approve_delete_path(:_id => post.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-common bttn-danger-common bttn-danger"%>
  <p></p>
</div>