<br>
<div class="card bg-transparent card-border" style="width: 35rem;">
  <div class="card-body">
    <%= render "handle_posts/approve_posts/approve_post/approve_edit_body", post: @post %>
  </div>
</div>