<h2 class="txt-title">Your Pending Posts</h2>
<% if @your_pending_posts.empty? %>
  <p class="txt-general">Do not have any pending posts... Congrats! </p> <p></p>
<% else %>
  <%= render "handle_posts/pending_posts/pending_posts" %>
<% end %>
