<h1>Your Pending Posts</h1>
<br>

<% if @your_pending_posts.empty? %>
  <h4>Do not have any pending posts... Congrats! </h4> <p></p>
<% else %>
  <div id="posts">
    <% @your_pending_posts.each do |post| %>
      <div class="card text-center">
        <div class="card-body">
          <h6 class="card-title"><%= post.title %></h6>
          <p class="card-text"><%= post.body %></p>
          <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger"%>
        </div>
        <div class="card-footer text-muted">
          <%= post.updated_at %>
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
  <br><br>
<% end %>
