<h2 class="txt-title">Your Pending Posts</h2>
<p></p>
<% if @your_pending_posts.empty? %>
  <h5 class="txt-general">Do not have any pending posts... Congrats! </h5> <p></p>
<% else %>
  <div id="posts">
    <% @your_pending_posts.each do |post| %>
      <div class="card text-center">
        <div class="card-body">
          <h6 class="card-title txt-general"><%= post.title %></h6>
          <p class="card-text txt-general"><%= post.body %></p> <br>
          <%= link_to "Delete", post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bttn-danger"%>
        </div>
        <div class="card-footer text-muted">
          <%= post.updated_at %>
        </div>
      </div>
      <p></p>
    <% end %>
  </div>
<% end %>
