<h2 class="txt-title">Posts Tobe Approved</h1>
<% if @posts.empty? %>
  <p class="txt-general">Do not have any pending posts to be approved! </p> <p></p>
<% else %>
  <%= render "handle_posts/approve_posts/approve_posts"  %>
<% end %>
