<br>
<div class="card">
  <div class="card-body">
    <%= render "posts/post/post_body", post: post %>
    <%= render "handle_posts/pending_posts/pending_post/pending_footer", post: post %>
  </div>
</div>