<div class="display-comments-section" id="<%= "#{dom_id(post)}_comment" %>">
  
  <br> <br>

  <h5 class="card-title txt-title"> Comments</h5><p></p>
  <%= render "comments/form", post: post %>

  <br> <hr class="my-4">
  
  <div id="<%= "#{dom_id(post)}_comments" %>">
    <% if post.comments.all.count <= 0 %>
      <p class="txt-general">Be the first one to comment!...</p>
    <% else %>
      <%= render post.comments %>
    <% end %> 
  </div>
</div>
    