<div class="card bg-transparent card-border" style="margin-top: 20px">
  <div class="card-body">
    <%= render "posts/post/post_body", post: post %>
    <div data-controller="comment-visibility">
      <%= render "posts/post/post_footer", post: post %>
      <%= render "posts/post/post_comment", post: post %>
    </div>
  </div>
</div>

<%= render "posts/post/author/post_author_profile", post_author: post.author %>
