<div class="display-comments-section comments-section" id="<%= "#{dom_id(post)}_comment" %>" data-comment-visibility-target="hideableComment" hidden>

  <h5 class="card-title txt-title"> Comments</h5><p></p>
  <%= render "comments/form", post: post %>

  <hr class="my-4">
  
  <div id="<%= "#{dom_id(post)}_comments" %>">
    <% if post.comments.all.count <= 0 %>
      <div id="no-comment-posted">
        <p class="txt-general">Be the first one to comment!...</p>
      </div>
    <% else %>
      <%= render post.comments.order(updated_at: :desc) %>
    <% end %> 
  </div>
</div>
    