<br>
<div class="card bg-transparent card-border">
  <div class="card-body">
    <%= render "posts/post/post_body", post: post %>
    <div data-controller="comment-visibility">
      <%= render "posts/post/post_footer", post: post %>
      <%= render "posts/post/post_comment", post: post %>
    </div>
  </div>
</div>