<h2 class="txt-title">All Posts</h2>

<% if @posts.empty? %>
  <p class="txt-general">None has not created any posts yet </p> <p></p>
  <%= link_to "Add a post", new_post_path, class: "bttn-other-main" %>
<% else %>
  <br>
  <div id="posts">
    <%= render @posts %>
    <%= render "posts/post/post_comment_jquery" %> 
    <%= render "posts/post/post_comment_reply_jquery" %> 
  </div>
  <br>
<% end %>



