<h2 class="txt-title">All Posts</h2>

<% if @posts.empty? %>
  <p class="txt-general">None has not created any posts yet </p> <p></p>
<% else %>
  <div id="posts">
    <%= render @posts %>
  </div>
<% end %>



