<h2 class="text-center txt-title">Posts from others</h2>

<% if @posts.empty? %>
  <p class="txt-general">Others have not created any posts yet!   &nbsp Go to your posts</p>
   <%= link_to your_posts_get_posts_path, class: "bttn-common bttn-main-common bttn-main-lone-button bttn" do %>
      Your Posts
  <% end %>
<% else %>
  <div id="posts" class="scroll-div" style="padding-top: 10px; border: 2px;">
    <%= render @posts %>
  </div>
  <br>
<% end %>



