<div class="card card-border bg-transparent">
  <div class="card-body bg-transparent">
    <h2 class="card-title txt-title">New Post</h2>
    <%= render "form", post: @post %>
  </div>
</div>
<br><br>
