<%= render @post %>
<br>
<br><br>
<h2>Add a comment</h2> <p></p>
<%= render 'comments/form' %>

<br><br>
<h2>Comments</h2>
<p></p>
<% if @post.comments.all.count <= 0 %>
  <p>Be the first one to comment!...</p>
<% else %>
  <%= render @post.comments %>
<% end %>

<br><br>
<%= link_to "Back to posts", posts_path, class: "btn btn-outline-primary" %>
