<div class="card card-border bg-transparent" style="width: 35rem;">
  <div class="card-body bg-transparent">
     <%= render "handle_posts/disapprove_posts/disapprove_post/disapprove_body", post: post %>
    <%= render "handle_posts/disapprove_posts/disapprove_post/disapprove_footer", post: post %>
  </div>
</div>