/* button common properties */
.bttn-common {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.bttn-main-common {
  font-weight: bold;
  font-size: 18px;
  border: 1px solid;
  border-radius: 7px;
}

.bttn-main-main-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.bttn-main-lone-button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.bttn-secondary-common {
  padding: 5px;
  border: 1.5px solid;
  border-radius: 5px;
}

.bttn-danger-common {
  padding: 7px;
  border: 1.5px solid;
  border-radius: 5px;
}

.bttn-danger-sm {
  padding: 5px;
  border: 1.5px solid; 
  border-radius: 7px;
}

.bttn-comment-common{
  border: 1px solid; 
  border-radius: 4px;
}

.bttn-forgot-password-common { 
  padding: 7.5px;
  border: 1px solid; 
  border-radius: 7px;
}


.bttn {
  color: #1d600f;
  background-color: transparent;
  border-color: #1d600f;
}

.bttn:hover {
  background-color: #1d600f; 
  color:white; 
}

.bttn-danger {
  background-color: transparent;
  color:#a12d2d; 
}

.bttn-danger:hover {
  background-color: #a12d2d;
  border-color: #a12d2d; 
  color:white; 
}

.bttn-search {
  color: white;
  border-color: #1d600f;
  background-color: #1d600f;
}

.bttn-search:hover {
  color: white;
  background-color: #0c3a03;
  border-color: #0c3a03;
}

.bttn-following {
  background-color: #1d600f; 
  color:white;
  border-color: #1d600f; 
}

.bttn-following:hover {
  background-color: transparent;
  color: #1d600f;
}