.txt-title {
  color: #464444;
}

.txt-header {
  color: #021f7c;
}

.txt-secondary {
  color: #1b1b6b;
}

.txt-danger {
  color: #3f0d0d;
}

.txt-general {
  color: #575656;
}

.bttn-main {
  background-color: #042799; 
  border: 2px solid; 
  border-color:#021f7c; 
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  font-weight: bold;
  color: white;
}

.bttn-main:hover {
  color: #021f7c;
  background-color: white;
}

.bttn-primary {
  background-color: #1749a0; 
  border: 1.5px solid; 
  border-color:#004bcc; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
  font-weight: bold;
}

.bttn-primary:hover {
  color: #004bcc;
  background-color: white;
}

.bttn-secondary {
  background-color: #347bf7; 
  border: 1.5px solid; 
  border-color:#347bf7; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
  font-weight: bold;
}

.bttn-secondary:hover {
  color: #347bf7;
  background-color: white;
}

.bttn-other-main {
  background-color: #575656; 
  border: 2px solid; 
  border-color:#575656; 
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  font-weight: bold;
  color: white;
}

.bttn-other-main:hover {
  color: #575656;
  background-color: white;
}

.bttn-post-details {
  background-color: #8b7c7c; 
  border: 1.5px solid; 
  border-color:#8b7c7c; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
  font-weight: bold;
}

.bttn-post-details:hover {
  color: #8b7c7c;
  background-color: white;
}

.bttn-back {
  background-color: #8b7c7c; 
  border: 1.5px solid; 
  border-color:#6d6e6e; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
}

.bttn-back:hover {
  color: #6d6e6e;
  background-color: white;
}


.bttn-danger {
  background-color: #b36a6a;
  border: 1.5px solid; 
  border-color:#b36a6a; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
  font-weight: bold;
}

.bttn-danger:hover {
  color: #b36a6a;
  background-color: white;
}

.bttn-comment {
  background-color: #575656; 
  border: 1px solid; 
  border-color:#575656; 
  border-radius: 4px;
  cursor: pointer;
  text-decoration:none;
  color: white;
}

.bttn-comment:hover {
  color: #575656;
  background-color: white;
}

.bttn-comment-back {
  background-color: #8b7c7c; 
  border: 1px solid; 
  border-color:#6d6e6e; 
  padding: 3.8px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration:none;
  color: white;
}

.bttn-comment-back:hover {
  color: #6d6e6e;
  background-color: white;
}


.bttn-show-post {
  background-color: #493838; 
  border: 1.5px solid; 
  border-color:#6d6e6e; 
  padding: 8.7px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
}

.bttn-show-post:hover {
  color: #6d6e6e;
  background-color: white;
}

.bttn-forgot-password {
  background-color: #575656; 
  border: 1px solid; 
  border-color:#575656; 
  padding: 7.5px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration:none;
  color: white;
}

.bttn-forgot-password :hover{
  color: #575656;
  background-color: white;
}

.center {
  align-items: center;
  justify-content: center;
}


input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.bttn-new {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.padding {
  padding: 0;
}

.padding-input-icon {
  padding: 10px;
}

.input-radius {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.padding-input-username {
  padding-left: 10px;
  padding-right: 10px;
}

.fa-check {
	color: #fff;
	left: 17px;
	top: 18px;
	font-size: 7px;
	position: absolute;
}

.padding-confirm-pass {
  padding-right: 9px;
  padding-left: 9px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  position: block;
  right: 10px;
  background-color: white;
}

.dropdown-item:focus {
  background-color: white;
  color: white;
}