.center {
  display: flex;
  border: 0px;
  justify-content: center;
  align-items: center;
}

.bg-image {
  background-image: url("bg_pic.jpg");
  background-size: cover;
}


.bg-sign-in {
  background-image: url("sign_in.jpg");
}

.bg-transparent {
  background-color: transparent;
}

.input {
  background-color: transparent;
}

.scroll-div {
  display: flex;
  justify-content: center;

  
  padding: 10px;
  padding-bottom: 0px;
  background-color: rgba(79, 165, 45, 0.1);

  overflow-y: scroll;
  max-height: 30vh;
}