.nav-bg-color {
  background-color: #e0ffd5;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  position: block;
  right: 10px;
  border-radius: 10px;
  background-color: rgba(230, 255, 220, 0.95);
}

.dropdown-item:focus {
  background-color: rgba(230, 255, 220, 0.95) ;
  color: white;
}

.nav-profile-item {
  background-color: rgba(230, 255, 220, 0.95) ;
}

.nav-profile-item:hover {
  background-color: rgba(190, 228, 175, 0.95) ;
}

.nav-link-navbar {
  color: #3f3e3e;
}

.nav-link:hover {
 color: #020202;
}

.profile-dropdown-item {
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}