.nav-bg-color {
  background-color: #e0ffd5;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  position: block;
  right: 10px;
  background-color: white;
}

.dropdwn:focus .dropdown-menu0{
  display: block;
  margin-top: 0;
  position: block;
  right: 10px;
  background-color: white;
}

.dropdown-item:focus {
  background-color: white;
  color: white;
}


