.txt-title {
  color: #1d600f;
}

.txt-title:hover {
  color: #184310;
}

.txt-white {
  color: white;
}

.txt-header {
  color: #021f7c;
}

.txt-secondary {
  color: #1b1b6b;
}

.txt-danger {
  color: #803d3d;
}

.txt-general {
  color: #2b5c22;
}

.txt-general:hover {
  color: #0e3506;
}