.txt-title {
  color: #240707;
}

.txt-white {
  color: white;
}

.txt-header {
  color: #021f7c;
}

.txt-secondary {
  color: #1b1b6b;
}

.txt-danger {
  color: #3f0d0d;
}

.txt-general {
  color: #3d3d3d;
}

.txt-general:hover {
  color: #1f1f1f;
}