<div id="<%= "#{dom_id(user)}_user_follow_request" %>" style="padding-top: 20px;">
  <button type="button" class="bttn-common bttn-danger-common btn btn-secondary" disabled>Requested to follow</button>
</div>