<div id="category-items-title" class="category-items-div" style="margin-top: 10px">
  <div class="txt-general category-name-title">
    Category Name
  </div>
  
  <div class="txt-general category-delete-title">
    Delete Category
  </div>
</div>