<h2 class="txt-title">Category</h2>

<%= render "form", category: Category.new %>

<br><br>
<h5 class="txt-general">Already added</h5>
<div id="category-list">
  <% if @categories.empty? %>
    <p>No category has been added yet </p>
  <% else %>
    <p></p>
    <p style="margin-left: 10px">Name                           </p>
    <% @categories.each do |category| %>
      <%= render "category", category: category %>
    <% end %>
    <%= turbo_stream_from "category-list" %>
  <% end %>
</div>